@model IEnumerable<WebSite.Models.Teacher>

<a asp-action="Create">Ekle</a>

<table class="table">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Email</th>
        <th>Telefon No</th>
        <th></th>
    </tr>
    @foreach (var teacher in Model)
    {
        <tr>
            <td>@teacher.Id</td>
            <td>@teacher.AdSoyad</td>
            <td>@teacher.Email</td>
            <td>@teacher.Telefon</td>
            <td>
                <a asp-action="Edit" asp-route-id="@teacher.Id">Düzenle</a>
                -
                <a class="text-danger" asp-action="Delete" asp-route-id="@teacher.Id">Sil</a>
            </td>
        </tr>
    }
</table>
